<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Calendar - Login</title>

    <link href="/netdna.bootstrapcdn.com/bootstrap/3.1.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
</head>

<body>
    <div class="jumbotron">
        <div class="container">
            <img src="https://carlisletheacarlisletheatre.org/images/calendar-clipart-transparent-4.png" alt="calendar"
                height="360px" width="360px">
            <span class="glyphicon glyphicon-list-alt"></span>
            <h2>Login</h2>
            <div class="box">
                <input type="text" placeholder="username">
                <input type="password" placeholder="password">
                
                <button class="btn btn-default full-width">
                    <span class="glyphicon glyphicon-ok">LOGIN</span>
                </button>
                
                <button onClick="location.href='http://localhost:1234/register'" class="btn btn-default full-width">
                    <span class="glyphicon glyphicon-ok">CREATE ACCOUNT</span>
                </button>
            </div>
        </div>
    </div>
</body>

</html>